<div class="sa-margen">
  <p>Equipo de Futbol</p>
  <div class="row">
    <div class="col-sm-6">
      <ul>
        <li>Nombre: {{Nombre}}</li>
        <li>Liga: {{Liga}}</li>
        <li>Fecha de Creacion: {{Fecha}}</li>
        <li>Copas Internacionales: {{Copas}}</li>
        <li>Campeonato Actual:{{Campeonato}} </li>
      </ul>
    </div>
    <div class="col-sm-6 ">
      <p>Imagen</p>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-5">
      <p></p>
    </div>
    <div class="col-sm-1">
      <button type="button" [routerLink]="['/equipo']">Detalle</button>
    </div>
  </div>
</div>

