<app-componente-perfiles></app-componente-perfiles>
<h1>Futbolista</h1>
<div class="row sa-margen">
  <div class="col-sm-6">
    <ul>
      <li>Numero Camiseta: </li>
      <li>Nombre Camiseta: </li>
      <li>Nombre Jugador: </li>
      <li>Fecha de Ingreso: </li>
      <li>Goles: </li>
      <li>Equipo: </li>
    </ul>
  </div>
  <div class="col-sm-6 sa-margen">Imagen</div>
</div>
<div class="row"><p></p></div>
<div class="row"><p></p></div>
<button type="button" (click)="disponible()" >Añadir al carrito</button>
<div class="row"><h1>Disponibilidad</h1></div>
<div class="row"><p></p></div>
<div class="row"><p></p></div>
<div class="row"><p></p></div>
<div class="row">
  <div class="col-sm-4"><p></p></div>
  <div class="col-sm-4 sa-margen" >
    <img [src]="imagenDisponible">
  </div>
  <div class="col-sm-4"><p></p></div>
</div>

