<div class="row">
  <div class="col-sm-6">
    <p>Imagen</p>
  </div>
  <div class="col-sm-6">
    <ul>
      <li>Numero Camiseta: {{Numero}}</li>
      <li>Nombre Camiseta: {{Nombre}}</li>
      <li>Nombre Jugador: {{NombreJ}}</li>
      <li>Fecha de Ingreso: {{Fecha}}</li>
      <li>Goles: {{Goles}} </li>
      <li>Equipo: {{Equipo}} </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-5">
    <p></p>
  </div>
  <div class="col-sm-6">
    <button type="button" [routerLink]="['/jugador']">Detalle</button>
  </div>
</div>
