<app-componente-perfiles></app-componente-perfiles>
<div>
  <p>Lista de Equipos</p>
</div>
<div class="row">
  <div class="col-sm-4">
    <app-componente-padre-equipo></app-componente-padre-equipo>
  </div>
  <div class="col-sm-4">
    <app-componente-padre-equipo></app-componente-padre-equipo>
  </div>
  <div class="col-sm-4">
    <app-componente-padre-equipo></app-componente-padre-equipo>
  </div>
</div>
<div class="row"><p></p></div>
<div class="row">
  <div class="col-sm-4">
    <app-componente-padre-equipo></app-componente-padre-equipo>
  </div>
  <div class="col-sm-4">
    <app-componente-padre-equipo></app-componente-padre-equipo>
  </div>
  <div class="col-sm-4">
    <app-componente-padre-equipo></app-componente-padre-equipo>
  </div>
</div>
<div class="row"><p></p></div>
<div class="row">
  <div class="col-sm-5">
  </div>
  <div class="col-sm-5">
    <button>Cargar Mas</button>
  </div>
</div>

<div>
  <p>Lista de Jugadores</p>
</div>
<div class="row">
  <div class="col-sm-4">
    <app-componente-hijo-jugador></app-componente-hijo-jugador>
  </div>
  <div class="col-sm-4">
    <app-componente-hijo-jugador></app-componente-hijo-jugador>
  </div>
  <div class="col-sm-4">
    <app-componente-hijo-jugador></app-componente-hijo-jugador>
  </div>
</div>
<div class="row"><p></p></div>
<div class="row">
  <div class="col-sm-4">
    <app-componente-hijo-jugador></app-componente-hijo-jugador>
  </div>
  <div class="col-sm-4">
    <app-componente-hijo-jugador></app-componente-hijo-jugador>
  </div>
  <div class="col-sm-4">
    <app-componente-hijo-jugador></app-componente-hijo-jugador>
  </div>
</div>
<div class="row"><p></p></div>
<div class="row">
  <div class="col-sm-5">
  </div>
  <div class="col-sm-5">
    <button>Cargar Mas</button>
  </div>
</div>
