<app-componente-perfiles></app-componente-perfiles>
<div class="row sa-margen">
  <div class="col-sm-12">
    <h1>Datos de la Cuenta</h1>
  </div>

  <div class="col-sm-12">
    <ul>
      <li>Apellidos:  {{Apellidos}}</li>
      <li>Nombres: {{Nombres}} </li>
      <li>Correo Electronico: {{Correo}} </li>
      <li>Celular: {{Celular}}</li>
      <li>Direccion: {{Direccion}} </li>

    </ul>
  </div>

</div>
<div class="row">
  <div class="col-sm-2">
    <button>Completar Orden</button>
  </div>
  <div class="col-sm-2">
    <p></p>
  </div>
  <div class="col-sm-2">
    <button>Editar Datos</button>
  </div>
</div>
<div class="row"><p></p></div>
<div class="row"><p></p></div>



  <div class="row sa-margen">
    <div class="col-sm-6">
      <div class="col-sm-6">
        <ul>
          <li>Nombre: </li>
          <li>Liga: </li>
          <li>Fecha de Creacion: </li>
          <li>Copas Internacionales: </li>
          <li>Campeonato Actual: </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 sa-margen">Imagen</div>
    <div class="col-sm-12">
      <div class="col-sm-8">
        <p></p>
      </div>
      <div class="col-sm-6">
        <button>Eliminar</button>
      </div>
    </div>
  </div>
  <div class="row"><p></p></div>
<div class="row"><p></p></div>
<div class="row"><p></p></div>

  <div class="row sa-margen">
    <div class="col-sm-6">
      <div class="col-sm-6">
        <ul>
          <li>Nombre: </li>
          <li>Liga: </li>
          <li>Fecha de Creacion: </li>
          <li>Copas Internacionales: </li>
          <li>Campeonato Actual: </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 sa-margen">Imagen</div>
    <div class="col-sm-12">
      <div class="col-sm-8">
        <p></p>
      </div>
      <div class="col-sm-6">
        <button>Eliminar</button>
      </div>
    </div>
  </div>

