<app-componente-perfiles></app-componente-perfiles>
<div class="row">
  <div class="col-sm-4">
  <p></p>
</div>
  <div class="col-sm-6">
    <h1>Equipo de Futbol</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <ul>
      <li>Nombre: </li>
      <li>Liga: </li>
      <li>Fecha de Creacion: </li>
      <li>Copas Internacionales: </li>
      <li>Campeonato Actual: </li>
    </ul>
  </div>
  <div class="col-sm-6 sa-margen">
    <p>Imagen</p>
  </div>
</div>
<div>
  <p>Lista de Jugadores</p>
</div>
<div class="row">
  <div class="col-sm-4">
    <app-componente-hijo-jugador></app-componente-hijo-jugador>
  </div>
  <div class="col-sm-4">
    <app-componente-hijo-jugador></app-componente-hijo-jugador>
  </div>
  <div class="col-sm-4">
    <app-componente-hijo-jugador></app-componente-hijo-jugador>
  </div>
</div>
<div class="row"><p></p></div>
<div class="row">
  <div class="col-sm-4">
    <app-componente-hijo-jugador></app-componente-hijo-jugador>
  </div>
  <div class="col-sm-4">
    <app-componente-hijo-jugador></app-componente-hijo-jugador>
  </div>
  <div class="col-sm-4">
    <app-componente-hijo-jugador></app-componente-hijo-jugador>
  </div>
</div>
<div class="row"><p></p></div>
<div class="row">
  <div class="col-sm-5">
  </div>
  <div class="col-sm-5">
    <button>Cargar Mas</button>
  </div>
</div>

